# <center> Assignment 4 | Olympic Dataset

#### Loading Dependencies

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

#### Loading the dataset

In [ ]:
data = pd.read_csv('./athlete_events.csv')

#### Viewing the dataset

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.sample(5)

In [ ]:
data.describe().T

In [ ]:
data.info()

In [ ]:
data.shape

#### Null count and percentage

In [ ]:
data.isnull().sum()

In [ ]:
data.isnull().mean()*100

#### Checking for duplicates

In [ ]:
data.duplicated().sum()

In [ ]:
data[data.duplicated(keep=False)]

#### Dropping duplicates

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data.duplicated().sum()

#### Resetting the index

In [ ]:
data.reset_index()

In [ ]:
data.reset_index(drop=True, inplace=True)

In [ ]:
data.head()

#### Droping the columns

In [ ]:
data.columns

In [ ]:
data.drop(columns=['ID','Games'],inplace=True)

In [ ]:
data

## Olympic Dataset questions

### Questions

1.	How many countries are represented in the dataset?
2.	What is the total number of medals awarded?
3.	Which country has won the most medals?
4.	Which country has won the least medals?
5.	How many medals were won by male athletes?
6.	How many medals were won by female athletes?
7.	What is the distribution of medals among different age groups?
8.	Which year had the highest number of medals?
9.	Which city hosted the most number of Olympic events?
10.	What is the average age of athletes who won medals?
11.	How many male athletes participated in each Olympic event?
12.	How many female athletes participated in each Olympic event?
13.	How many athletes from each country participated in each Olympic event?
14.	How many athletes from each country won medals?
15.	How many gold, silver, and bronze medals were won by each country?
16.	What is the distribution of medals based on gender?
17.	How many athletes from each age group won medals?
18.	In which year was the youngest athlete to win a medal?
19.	In which year was the oldest athlete to win a medal?
20.	How many athletes participated in each Olympic event?
21.	What is the average age of athletes in each Olympic event?
22.	How many medals were won by athletes in each Olympic event?
23.	What is the distribution of medals based on event?
24.	How many athletes won medals in each event category (e.g., swimming, athletics)?
25.	What is the average age of athletes in each event category?
26.	How many athletes from each country participated in each event category?
27.	How many medals were won by athletes from each country in each event category?
28.	What is the distribution of medals based on country and gender?
29.	How many unique athletes are there in the dataset?
30.	How many athletes won multiple medals?
31.	How many athletes participated in multiple Olympic events?
32.	What is the gender distribution for athletes participating in multiple events?
33.	How many athletes won medals in multiple events?
34.	What is the average age of athletes who won medals in multiple events?
35.	How many medals were won by male athletes in each event category?
36.	How many medals were won by female athletes in each event category?
37.	How many athletes won medals in each event category by year?
38.	What is the age distribution of athletes for each event category?
39.	How many medals were won by male athletes in each event by year?
40.	How many medals were won by female athletes in each event by year?
41.	How many medals were won by athletes of different ages in each event category?
42.	What is the distribution of medals based on city and gender?
43.	How many athletes participated in each Olympic event in each city?
44.	What is the average age of athletes in each Olympic event in each city?
45.	How many medals were won by athletes in each Olympic event in each city?
46.	What is the gender distribution of athletes in each Olympic event in each city?
47.	How many medals were won by male athletes in each Olympic event in each city?
48.	How many medals were won by female athletes in each Olympic event in each city?
49.	How many athletes from each country won gold, silver, and bronze medals?
50.	 How many athletes from each country participated in each Olympic year?
51.	What is the distribution of medals based on country and age group?
52.	How many athletes won medals in each event by country?
53.	What is the average age of athletes from each country?
54.	How many medals were won by athletes from each country by gender?
55.	How many countries participated in each Olympic event?
56.	What is the average age of athletes in each Olympic event by gender?
57.	How many medals were won by athletes in each Olympic event by gender?
58.	What is the distribution of medals based on event and age group?
59.	How many athletes won medals in each event category by gender?
60.	What is the average age of male and female athletes in each event category?
61.	How many medals were won by athletes from each gender in each event category?
62.	How many unique athletes participated in each Olympic event by gender?
63.	How many athletes won multiple medals in each event category?
64.	What is the age distribution of male and female athletes in each event category?
65.	How many medals were won by athletes from each country in each event category by gender?
66.	How many athletes won medals in each event category by country and gender?
67.	What is the average age of athletes who won medals in each event by country?
68.	How many medals were won by male and female athletes in each event by country?
69.	How many athletes from each age group participated in each Olympic event?
70.	What is the average age of athletes from each age group in each Olympic event?
71.	How many medals were won by athletes from each age group in each Olympic event?
72.	What is the gender distribution of athletes from each age group in each Olympic event?
73.	How many medals were won by male and female athletes from each age group in each Olympic event?

### Questions 1 to 10

#### 1 - How many countries are represented in the dataset?

In [ ]:
data["NOC"].nunique()

#### 2 - What is the total number of medals awarded?

In [ ]:
data["Medal"].notna().sum()

#### 3 - Which country has won the most medals?

In [ ]:
medal_winners = data[data['Medal'].notna()]
medal_winners.head(3)

In [ ]:
medal_winners_count = medal_winners.pivot_table(index='NOC',values='Medal', aggfunc='count')
medal_winners_count.head()

In [ ]:
medal_winners_count.sort_values('Medal',ascending=False, inplace=True)
medal_winners_count.head(1)

#### 4 - Which country has won the least medals?

In [ ]:
Least_medals = medal_winners_count[medal_winners_count['Medal'] == 1].sort_values(by='Medal')
Least_medals

#### 5 - How many medals were won by male athletes?

In [ ]:
data.query("Sex == 'M' & Medal in ['Gold','Silver','Bronze']").Medal.count()

#### 6. How many medals were won by female athletes?

In [ ]:
data.query("Sex == 'F' & Medal in ['Gold','Silver','Bronze']").Medal.count()

#### 7. What is the distribution of medals among different age groups?

In [ ]:
data.head(10)

In [ ]:
Sort_by_Age = data.sort_values('Age').reset_index(drop=True)
Sort_by_Age.head(2)

In [ ]:
data['Age_Medal_bin'] = pd.cut(data['Age'], bins=[0,10,20,30,40,50,60], labels=['0-10','11-20','21-30','31-40','41-50','51+'])

In [ ]:
Age_Medal_Distribution = data.pivot_table(index='Age_Medal_bin',columns='Medal',values='Age',aggfunc='count')
Age_Medal_Distribution

In [ ]:
data.drop('Age_Medal_bin',axis=1,inplace=True)

#### 8. Which year had the highest number of medals?

In [ ]:
Medal_count_years = data[data['Medal'].notna()].groupby('Year')['Medal'].count().reset_index().sort_values(by='Medal',ascending=False).reset_index(drop=True)
Medal_count_years.head(1)

#### 9. Which city hosted the most number of Olympic events?

In [ ]:
Events_by_city = data.groupby('City')['Event'].count().reset_index()
Events_by_city.sort_values(by='Event', ascending=False).reset_index(drop='True').head(1)

#### 10. What is the average age of athletes who won medals?

In [ ]:
Winners = data[data['Medal'].notna()]

In [ ]:
Winners_average_age = Winners['Age'].mean()
Winners_average_age = np.ceil(Winners_average_age)
Winners_average_age

### Questions 11 - 20

#### 11. How many male athletes participated in each Olympic event?

In [ ]:
data.query("Sex == 'M'").shape[0]

#### 12. How many female athletes participated in each Olympic event?

In [ ]:
data.query("Sex == 'F'").shape[0]

#### 13. How many athletes from each country participated in each Olympic event?

In [ ]:
participants_country_event = data.groupby(['NOC','Event'])['Name'].nunique().reset_index()
participants_country_event.rename(columns={'Name':'Count'}, inplace=True)

In [ ]:
participants_country_event_sorted = participants_country_event.sort_values(by='Count',ascending=False).reset_index(drop=True)
participants_country_event_sorted

#### 14. How many athletes from each country won medals?

In [ ]:
medal_winners.reset_index(drop=True,inplace=True)
medal_winners.head()

In [ ]:
Participation_country = medal_winners.groupby('NOC')['Name'].nunique().reset_index()
Participation_country.rename(columns={'Name':'Number'}, inplace=True)

In [ ]:
Participation_country = Participation_country.sort_values(by='Number',ascending=False).reset_index(drop=True)
Participation_country

#### 15. How many gold, silver, and bronze medals were won by each country?

In [ ]:
medal_winners.pivot_table(index='NOC',columns='Medal',values='Name',aggfunc='count',fill_value=0)

#### 16.	What is the distribution of medals based on gender?

In [ ]:
pivot_01 = medal_winners.pivot_table(index='Medal',columns='Sex',values='Name',aggfunc='count')
pivot_01

#### 17. How many athletes from each age group won medals?

In [ ]:
age_bins = [0,10,20,30,40,50,60,61]
age_labels = ['0-10','11-20','21-30','31-40','41-50','51-60','61+']

medal_winners_age_group = medal_winners
medal_winners_age_group.head(1)

In [ ]:
medal_winners_age_group['Age_Group'] = pd.cut(medal_winners_age_group['Age'], bins=age_bins, labels=age_labels)

In [ ]:
medal_winners_age_group.groupby('Age_Group')['Name'].nunique().reset_index()

In [ ]:
medal_winners.drop('Age_Group',axis=1,inplace=True)

#### 18. In which year was the youngest athlete to win a medal?

In [ ]:
medal_winners.sort_values('Age').reset_index(drop=True).head(1)

#### 19. In which year was the oldest athlete to win a medal?

In [ ]:
medal_winners.sort_values('Age',ascending=False).reset_index(drop=True).head(1)

#### 20. How many athletes participated in each Olympic event?

In [ ]:
participation_total = data.groupby('Event')['Name'].nunique().reset_index()
participation_total.sort_values(by='Name',ascending=False, inplace=True)

In [ ]:
participation_total.reset_index(drop=True,inplace=True)
participation_total

#### 21.	What is the average age of athletes in each Olympic event?

In [ ]:
data.pivot_table(index='Event',values='Age',aggfunc='mean')

#### 22.	How many medals were won by athletes in each Olympic event?

In [ ]:
medal_winners.groupby('Event')['Medal'].nunique().reset_index()

#### 23.	What is the distribution of medals based on event?

In [ ]:
medal_winners.pivot_table(index='Event', columns='Medal', values='Name',aggfunc='count').fillna(0)

#### 24.	How many athletes won medals in each event category (e.g., swimming, athletics)?

In [ ]:
medal_winners.groupby('Sport')['Name'].nunique().reset_index()

#### 25.	What is the average age of athletes in each event category?

In [ ]:
data.groupby('Event')['Age'].mean().reset_index()

#### 26.	How many athletes from each country participated in each event category?

In [ ]:
data.groupby(['NOC','Event'])['Name'].nunique().reset_index(name='Athletes_per_country_event')

#### 27.	How many medals were won by athletes from each country in each event category?

In [ ]:
medal_winners.groupby(['NOC','Event'])['Medal'].count().reset_index(name='Medal_winners_country_event')

#### 28.	What is the distribution of medals based on country and gender?

In [ ]:
medal_winners.pivot_table(index='NOC',columns='Sex',values='Medal',aggfunc='count').fillna(0)

#### 29.	How many unique athletes are there in the dataset?

In [ ]:
data['Name'].nunique()

#### 30.	How many athletes won multiple medals?

In [ ]:
medal_winners_count_name_medal = medal_winners.groupby('Name')['Medal'].count()
medal_winners_count_name_medal.reset_index()

In [ ]:
medal_winners_count_name_medal = medal_winners.groupby('Name')['Medal'].count()
medal_winners_count_name_medal

In [ ]:
multiple_medal_winners_name = medal_winners_count_name_medal[medal_winners_count_name_medal > 1].reset_index()
multiple_medal_winners_name

#### 31.	How many athletes participated in multiple Olympic events?

In [ ]:
event_athlete_count = data.groupby(['Name'])['Event'].nunique()
multi_event_athletes = event_athlete_count[event_athlete_count > 1]
multi_event_athletes.sort_values(ascending=False).reset_index()

#### 32.	What is the gender distribution for athletes participating in multiple events?

In [ ]:
gender_distribution_multiple_events = data.groupby(['Name','Sex'])['Event'].nunique()

In [ ]:
multiple_event_gender = gender_distribution_multiple_events[gender_distribution_multiple_events > 1]
multiple_event_gender = multiple_event_gender.reset_index()
multiple_event_gender['Sex'].value_counts().reset_index()

#### 33.	How many athletes won medals in multiple events?

In [ ]:
multi_event_athlete_winners = medal_winners.groupby(['Name'])['Event'].nunique()
multi_event_winners_count = multi_event_athlete_winners[multi_event_athlete_winners > 1]
multi_event_winners_count = multi_event_winners_count.sort_values(ascending=False).reset_index()
multi_event_winners_count

#### 34.	What is the average age of athletes who won medals in multiple events?

In [ ]:
multi_event_winners_count_avg_age = medal_winners.groupby(['Event'])['Age'].mean()
multi_event_winners_count = multi_event_athlete_winners[multi_event_athlete_winners > 1]
multi_event_winners_count = multi_event_winners_count.sort_values(ascending=False).reset_index()
multi_event_winners_count

#### 35.	How many medals were won by male athletes in each event category?

In [ ]:
medal_winners[medal_winners['Sex']=='M'].groupby(['Sport'])['Medal'].count().reset_index()

#### 36.	How many medals were won by female athletes in each event category?

In [ ]:
medal_winners[medal_winners['Sex']=='F'].groupby(['Sport'])['Medal'].count().reset_index()

#### 37.	How many athletes won medals in each event category by year?

In [ ]:
medal_winners['Year_bin'] = pd.cut(medal_winners['Year'], bins=[1896,1920,1940,1960,1980,2000,2001], labels=['<1920','1921-40','1941-60','1961-80','1981-00','01-20'])
medal_winners.pivot_table(index='Sport',columns='Year_bin',values='Name',aggfunc='nunique')

#### 38.	What is the age distribution of athletes for each event category?

In [ ]:
temp_df = data.copy()

age_bins = [0,10,20,30,40,50,60,61]
age_labels = ['0-10','11-20','21-30','31-40','41-50','51-60','61']

temp_df['Age_group'] = pd.cut(temp_df['Age'], bins=age_bins, labels=age_labels)

In [ ]:
pd.pivot_table(
    temp_df,
    index='Event',
    columns='Age_group',
    values='Name',
    aggfunc='nunique'
)

#### 39.	How many medals were won by male athletes in each event by year?

In [ ]:
medal_winners[(medal_winners['Sex']=='M')]
medal_winners.pivot_table(index='Event',columns='Year',values='Medal',aggfunc='count').fillna('0')

#### 40.	How many medals were won by female athletes in each event by year?

In [ ]:
female_medal_winners = medal_winners[medal_winners['Sex'] == 'F']
female_medal_winners.pivot_table(index='Event',columns='Year',values='Medal',aggfunc='count').fillna(0)

#### 41.	How many medals were won by athletes of different ages in each event category?

In [ ]:
medal_winners.groupby(['Event','Age'])['Medal'].count().reset_index(name='Medal_Count')

#### 42.	What is the distribution of medals based on city and gender?

In [ ]:
medal_winners.pivot_table(index='City',columns='Sex',values='Medal',aggfunc='count')

#### 43.	How many athletes participated in each Olympic event in each city?

In [ ]:
data.pivot_table(index='Event',columns='City',values='Name',aggfunc='nunique').fillna(0)

#### 44.	What is the average age of athletes in each Olympic event in each city?

In [ ]:
data.pivot_table(index='Event',columns='City',values='Age',aggfunc='mean').fillna(0).round(0).astype(int)

#### 45.	How many medals were won by athletes in each Olympic event in each city?

In [ ]:
medal_winners.pivot_table(index='Event',columns='City',values='Name',aggfunc='count').fillna(0)

#### 46.	What is the gender distribution of athletes in each Olympic event in each city?

In [ ]:
pd.crosstab(index=[data['Event'],data['City']], columns=data['Sex'])

#### 47.	How many medals were won by male athletes in each Olympic event in each city?

In [ ]:
male_winners_event_city = medal_winners[medal_winners['Sex'] == 'M']

pd.crosstab(
    index = male_winners_event_city['Event'],
    columns = male_winners_event_city['City'],
    values = male_winners_event_city['Name'],
    aggfunc =['nunique']
).fillna(0)

#### 48.	How many medals were won by female athletes in each Olympic event in each city?

In [ ]:
female_winners_event_city = medal_winners[medal_winners['Sex'] == 'F']

pd.crosstab(
    index = female_winners_event_city['Event'],
    columns = female_winners_event_city['City'],
    values = female_winners_event_city['Name'],
    aggfunc =['nunique']
).fillna(0)

#### 49.	How many athletes from each country won gold, silver, and bronze medals?

In [ ]:
medal_winners.drop('Year_bin', axis=1, inplace=True)

In [ ]:
pd.crosstab(
    index = medal_winners['NOC'],
    columns = medal_winners['Medal'],
    values = medal_winners['Name'],
    aggfunc = ['nunique']
).fillna(0)

#### 50.	 How many athletes from each country participated in each Olympic year?

In [ ]:
pd.crosstab(
    index = data['NOC'],
    columns = data['Year'],
    values = data['Name'],
    aggfunc = ['nunique']
).fillna(0).astype(int)

#### 51.	What is the distribution of medals based on country and age group?

In [ ]:
age_bins

In [ ]:
age_labels

In [ ]:
temp_df = medal_winners.copy()
temp_df['Age_group'] = pd.cut(temp_df['Age'], bins=age_bins, labels=age_labels)

In [ ]:
pd.crosstab(
    index = temp_df['NOC'],
    columns = temp_df['Age_group'],
).fillna(0).astype(int)

#### 52.	How many athletes won medals in each event by country?

In [ ]:
medal_winners.pivot_table(
    
    index = ['Event'],
    columns = ['NOC'],
    values = ['Name'],
    aggfunc = 'nunique'
    
).fillna(0).astype(int)

#### 53.	What is the average age of athletes from each country?

In [ ]:
pd.crosstab(
    
    index = data['NOC'],
    columns = data['Age'],
    values = data['Age'],
    aggfunc ='mean'
    
).fillna(0).round(0)

#### 54.	How many medals were won by athletes from each country by gender?

In [ ]:
pd.crosstab(
    
    index = medal_winners['NOC'],
    columns = medal_winners['Sex'],
    values = medal_winners['Name'],
    aggfunc ='nunique'
    
).fillna(0).astype(int)

#### 55.	How many countries participated in each Olympic event?

In [ ]:
data.groupby(['Event'])['NOC'].nunique().reset_index(name= 'Countries_participated')

#### 56.	What is the average age of athletes in each Olympic event by gender?

In [ ]:
pd.crosstab(
    
    index = data['Event'],
    columns = data['Sex'],
    values = data['Age'],
    aggfunc = ['mean']
    
).fillna(0).round(1)

#### 57.	How many medals were won by athletes in each Olympic event by gender?

In [ ]:
medal_winners.pivot_table(
    
    index = ['Event'],
    columns = ['Sex'],
    values = ['Name'],
    aggfunc ='nunique'
    
).fillna(0).astype(int)

#### 58.	What is the distribution of medals based on event and age group?

In [ ]:
age_bins

In [ ]:
age_labels

In [ ]:
pd.crosstab(
    index=temp_df['Event'],
    columns=temp_df['Age_group']
).fillna(0).astype(int)

#### 59.	How many athletes won medals in each event category by gender?

In [ ]:
pd.crosstab(
    
    index=medal_winners['Event'],
    columns=medal_winners['Sex'],
    values=medal_winners['Name'],
    aggfunc='nunique'
).fillna(0).astype(int)

#### 60.	What is the average age of male and female athletes in each event category?

In [ ]:
pd.crosstab(
    
    index=data['Event'],
    columns=data['Sex'],
    values=data['Age'],
    aggfunc='mean'
).fillna(0).round(1)

#### 61.	How many medals were won by athletes from each gender in each event category?

In [ ]:
pd.crosstab(
    
    index=medal_winners['Event'],
    columns=medal_winners['Sex'],
    values=medal_winners['Name'],
    aggfunc='nunique'
).fillna(0).astype(int)

#### 62.	How many unique athletes participated in each Olympic event by gender?

In [ ]:
pd.crosstab(
    
    index=data['Event'],
    columns=data['Sex'],
    values=data['Name'],
    aggfunc='nunique'
).fillna(0).astype(int).rename(columns={'M':'Male','F':'Female'})

#### 63.	How many athletes won multiple medals in each event category?

In [ ]:
medal_winners_count = medal_winners.groupby(['Name'])['Medal'].count()

In [ ]:
multi_medal_athletes = medal_winners_count[medal_winners_count > 1]
multi_medal_athletes = multi_medal_athletes.reset_index()
multi_medal_athletes

In [ ]:
multi_medal_winners = medal_winners[medal_winners['Name'].isin(multi_medal_athletes['Name'])]
multi_medal_winners

In [ ]:
multi_medal_winners.groupby(['Event'])['Name'].nunique().reset_index()

#### 64.	What is the age distribution of male and female athletes in each event category?

In [ ]:
age_bins = [0,10,20,30,40,50,60,61]
age_labels = ['0-10','11-20','21-30','31-40','41-50','51-60','61+']

In [ ]:
temp_df = data.copy()
temp_df['Age_group'] = pd.cut(temp_df['Age'], bins=age_bins, labels=age_labels)
temp_df.head(1)

In [ ]:
pd.crosstab(
    index = temp_df['Event'],
    columns = [temp_df['Sex'], temp_df['Age_group']],
    values = temp_df['Name'],
    aggfunc = 'nunique'
).fillna(0).astype(int)

#### 65.	How many medals were won by athletes from each country in each event category by gender?

In [ ]:
pd.crosstab(
    index=[medal_winners['Event'], medal_winners['NOC']],
    columns=medal_winners['Sex'],
    values=medal_winners['Medal'],
    aggfunc='count'
).fillna(0).astype(int)

#### 66.	How many athletes won medals in each event category by country and gender?

In [ ]:
pd.crosstab(
    index=[medal_winners['Event'],medal_winners['NOC']],
    columns=medal_winners['Sex'],
    values=medal_winners['Name'],
    aggfunc='nunique'
).fillna(0).astype(int)

#### 67.	What is the average age of athletes who won medals in each event by country?

In [ ]:
pd.crosstab(
    index=[medal_winners['Event'], medal_winners['NOC']],
    columns='Avg age',
    values=medal_winners['Age'],
    aggfunc='mean'
).round(1)

#### 68.	How many medals were won by male and female athletes in each event by country?

In [ ]:
pd.crosstab(
    index=[medal_winners['Event'],medal_winners['NOC']],
    columns=medal_winners['Sex'],
    values=medal_winners['Medal'],
    aggfunc='count'
).fillna(0).astype(int)

#### 69.	How many athletes from each age group participated in each Olympic event?

In [ ]:
age_bins

In [ ]:
age_labels

In [ ]:
temp_df = data.copy()

In [ ]:
temp_df['age_bin'] = pd.cut(temp_df['Age'], bins=age_bins, labels=age_labels)

In [ ]:
pd.crosstab(
    index=temp_df['Event'],
    columns=temp_df['age_bin'],
    values=temp_df['Name'],
    aggfunc='nunique'
).fillna(0)

#### 70.	What is the average age of athletes from each age group in each Olympic event?

In [ ]:
pd.crosstab(
    index=temp_df['Event'],
    columns=temp_df['age_bin'],
    values=temp_df['Age'],
    aggfunc='mean'
).fillna(0).round(1)

#### 71.	How many medals were won by athletes from each age group in each Olympic event?

In [ ]:
temp_df_only_medalists = medal_winners.copy()
temp_df_only_medalists['age_bin'] = pd.cut(temp_df['Age'], bins=age_bins, labels=age_labels)

In [ ]:
pd.crosstab(
    index=temp_df_only_medalists['Event'],
    columns=temp_df_only_medalists['age_bin'],
    values=temp_df_only_medalists['Medal'],
    aggfunc='count'
)

#### 72.	What is the gender distribution of athletes from each age group in each Olympic event?

In [ ]:
pd.crosstab(
    index=[temp_df['Event'],temp_df['Sex']],
    columns=temp_df['age_bin'],
    values=temp_df['Name'],
    aggfunc='nunique'
)

#### 73.	How many medals were won by male and female athletes from each age group in each Olympic event?

In [ ]:
pd.crosstab(
    index=temp_df_only_medalists['Event'],
    columns=[temp_df_only_medalists['age_bin'],temp_df['Sex']],
    values=temp_df_only_medalists['Medal'],
    aggfunc='count'
)